@import url('https://fonts.googleapis.com/css2?family=Acme&family=Great+Vibes&display=swap');

* {
    background-color: lightgreen;
}

/* inspired by w3school */

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

/* logo */

#page-logo > a {
    text-decoration: none;
    color: rgb(240, 237, 230);
}

#logo {
    font-family: 'Great Vibes', sans-serif;
    font-size: 300%;
    letter-spacing: 4px;
    margin-left: 10px;
}

/* navigation menu */

#menu {
    font-size: 200%;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 25px;
    padding-top: 8px;
}

#menu a {
    font-family: Acme, sans-serif;
    font-size: medium;
    color: rgb(240, 237, 230);
    text-decoration: none;
}

#menu a:hover {
    color: #E6B2A6;
}

.active {
    border-bottom: 1px solid rgb(240, 237, 230);
}

/* logo image and quotation */

#logo-image {
    height: 450px;
    width: 100%;
    background: url(../image/spilling-tea.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    margin: 20px 0 10px 0;
}

#quotation {
    font-family: Acme, sans-serif;
    font-size: 95%;
    font-style: italic;
    color: #2E4756;
    float: right;
    margin-top: 250px;
    margin-right: 25px;
    padding: 15px;
    background-color: rgb(252 245 227);
    position: relative;
    border: 1px solid #2E4756;
    border-radius: 50px;
}

/* about us */

#main-about, #main-contact {
    text-align: center;
}

#about a, #contact a{
    text-decoration: none;
}

#about h2, #contact h2 {
    font-family: Acme, sans-serif;    
    color: rgb(240, 237, 230);    
    text-decoration:none;
    text-transform: uppercase;
}

#establish {
    background-color: #DBC3D0;
}

#empower {
    background-color: #8C9EAC;
}

#inspire {
    background-color: #3C7A89;
}

#wise-man {
    background-color: #E6B2A6;
}

#establish h3, #empower h3, #inspire h3, #wise-man h3 {
    font-family: sans-serif;
    font-size: 100%;
}

#establish > p, #empower > p, #inspire > p, #wise-man > p {
    font-family: inherit;
    font-size: 100%;    
    padding: 15px;
}

/* contact and info */

#support {
    background-color: #E6B2A6;
    }

#date {
    background-color: #8C9EAC;
}

#email {
    background-color: #3C7A89;
}

#location {
    background-color: #DBC3D0;
}

#support h3, #email h3, #date h3, #location h3 {
    font-family: sans-serif;
    font-size: 100%;
}

#support > p, #email > p, #date > p, #location > p {
    font-family: sans-serif;
    font-size: 100%;
    padding: 15px;
}
















/* inspired by w3school */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }